extends layout

block content
  style.
    #outer td {
      padding: 15px;
      text-align: center;
      min-width: 50px;
    }
  h1= title
  p Query parameters: rows=#{query.rows}, cols=#{query.cols}
  - var rows = Number(query.rows)
  - var cols = Number(query.cols)
  if(!Number.isInteger(rows) || !Number.isInteger(cols))
    p Rows and cols must be integers
  else if(rows < 3 || rows > 13)
    p Rows must be in range 3 to 13
  else if(cols < 3 || cols > 13)
    p Cols must be in range 3 to 13
  else
    table#outer
      - for(let i=0; i<rows; i++) {
        tr#middle
          - for(let j=0; j<cols; j++) {
            td= i + 2*j
          - }
      - }
