extends layout

block content
  h1= title
  p Welcome to #{title} - This is my Express web application with Pug!
  button(type="button", class="btn btn-secondary", onclick="faster()") Sample Button
  div(id="faster") add in extra
  
  a(href="/constellations") View Constellations
  
  script.
    var value = 1;
    var amt = 2;
    
    function faster() {
      amt = amt * 2;
      value = value + amt;
      document.getElementById("faster").innerHTML = "Boosted " + value + " by " + amt;
    }
