extends layout

block content
  h1= title
  -
    var image_names = [
      "orion.jpg",
      "ursamajor.jpg",
      "cassiopeia.jpg",
      "crux.jpg",
      "andromeda.jpg"
    ];
  
  - for(let i=0; i<3; i++) {
    - var randomIndex = Math.floor(Math.random()*5);
    - var selectedImage = image_names[randomIndex];
    img(src=`/images/${selectedImage}`, alt=`Constellation ${selectedImage}`, height="300", width="300")
  - }
