extends layout

block content
  h1= title
  -
    var image_names = [
      "orion.jpg",
      "ursamajor.jpg",
      "cassiopeia.jpg",
      "crux.jpg",
      "andromeda.jpg"
    ];
  
  div.container
    div.row
      - for(let i=0; i<3; i++) {
        - var randomIndex = Math.floor(Math.random()*5);
        - var selectedImage = image_names[randomIndex];
        - var displayName = selectedImage.replace('.jpg', '').replace('ursamajor', 'Ursa Major');
        div.col-md-4.text-center.mb-4
          img.img-thumbnail(src=`/images/${selectedImage}`, alt=`${displayName}`, height="300", width="300")
          p.mt-2
            strong= displayName.charAt(0).toUpperCase() + displayName.slice(1)
      - }
